$color-error-field: rgba(255, 0, 0, 0.1);

$search-component-color: #fff;
$search-component-background-color: rgba(255, 255, 255, .1);
$search-component-border-color: rgba(255, 255, 255, .1);
$search-component-box-shadow: rgba(255, 255, 255, .25);

$main-layout-nav-link-color: #333;
$main-layout-nav-link-feather-color: #999;
$main-layout-nav-link-active-color: #0c3eff;

$main-layout-navbar-brand-background-color: rgba(0, 0, 0, .25);
$main-layout-border: #e5e5e5;
