<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Users</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>
</div>

<div class="container" *ngIf="!access" >
  <div class="alert alert-danger" role="alert">
    You don't have rights for this section.
  </div>
</div>

<div class="container" *ngIf="access" >
  <table class="table table-striped">
    <tr *ngFor='let user of users'>
      <td>{{ user.name }}</td><td>{{ user.email }}</td><td><a [routerLink]="['/system/users', user.id]" class="btn btn-info">Edit</a><div (click)="onDelete(user)" class="btn btn-danger">Delete</div></td>
    </tr>
  </table>
  <ngb-pagination class="d-flex justify-content-center" (pageChange)="onPageChange($event)" [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="currentPage"></ngb-pagination>
</div>
