<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/system/users">Users</a></li>
    <li class="breadcrumb-item active" aria-current="page">User</li>
  </ol>
</nav>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2"><i class="fas fa-user"></i> User <div [hidden]="!isLoading" class="spinner-border text-warning"></div></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-outline-info add-new"><i class="fa fa-update"></i> Refresh</button>
  </div>
</div>

<div class="container" *ngIf="!access" >
  <div class="alert alert-danger" role="alert">
    You don't have rights for this section.
  </div>
</div>

<div class="container" *ngIf="access" >

  USER
  {{ user | json }}

</div>
