<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Users</li>
  </ol>
</nav>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2"><i class="fas fa-users"></i> Users <div [hidden]="!isLoading" class="spinner-border text-warning"></div></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-outline-info" routerLink="/users/new"><i class="fa fa-plus"></i> Add New</button>
  </div>
</div>

<div class="container" *ngIf="!access" >
  <div class="alert alert-danger" role="alert">
    You don't have rights for this section.
  </div>
</div>

<div class="container-fluid" *ngIf="access" >

  <table class="table table-striped">
    <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th style="width: 5%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let user of users'>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-success btn-sm" title="Edit" [routerLink]="[baseUrl, user.id]"><i class="far fa-edit"></i></button>
            <button type="button" class="btn btn-outline-danger btn-sm" title="Delete" (click)="onDelete(user)"><i class="far fa-trash-alt"></i></button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex justify-content-center" (pageChange)="onPageChange($event)" [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="currentPage"></ngb-pagination>
</div>

