<div class="container" *ngIf="this.authorizedUser" >
  <h1>{{ this.authorizedUser.name }}, you are already logined! </h1>
  <a [routerLink]="authRoute.logout">Logout</a>
</div>

<div class="container" *ngIf="!this.authorizedUser" >
  <h1 class="text-center">Sign in</h1>
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="form-horizontal" >
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="inputEmail">Email address</label>
        <div class="col-sm-9 input-group">
          <div class="input-group-prepend" *ngIf="formLogin.get('email').invalid && formLogin.get('email').touched">
            <span class="input-group-text text-danger error-symbol border-danger" title="Email has bad format"><i class="fa fa-exclamation-triangle"></i></span>
          </div>
          <input formControlName="email" type="email" class="form-control" [ngClass]="{'border-danger': formLogin.get('email').invalid && formLogin.get('email').touched}" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="inputPassword">Password</label>
        <div class="col-sm-9 input-group">
          <div class="input-group-prepend" *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched">
            <span class="input-group-text text-danger error-symbol border-danger" title="Password has bad format"><i class="fa fa-exclamation-triangle"></i></span>
          </div>
          <input formControlName="password"  type="password" class="form-control" [ngClass]="{'border-danger': formLogin.get('password').invalid && formLogin.get('password').touched}" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-9 offset-sm-3 input-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inputRemember" formControlName="remember">
            <label class="form-check-label" for="inputRemember">Remember me</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6 offset-sm-3">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="formLogin.invalid">Sign in</button>
        </div>
      </div>
  </form>
  <hr/>
  <a [routerLink]="authRoute.registration">Not a member yet? Sign up.</a>
</div>

