<div class="container" *ngIf="this.currentUser" >
  <h1>{{ this.currentUser.name }}, you are already logined! </h1>
  <a routerLink="/auth/logout">Logout</a>
</div>

<div class="container" *ngIf="!this.currentUser" >
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input formControlName="email"  type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      <small class="form-text text-muted" *ngIf="form.get('email').invalid && form.get('email').touched"><span class="text-red">Email has bed format</span></small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input formControlName="password"  type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      <small class="text-red form-text text-muted" *ngIf="form.get('password').invalid && form.get('password').touched"><span class="text-red">Password has bed format</span></small>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </form>
  <small class="text-red form-text text-muted" *ngIf="error">{{ error | json }}</small>
  <a routerLink="/auth/registration">Not a member yet? Sign up.</a>
</div>
